@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: Poppins;
    margin: 0;
    line-height: 200%;
}

/* hero section start */

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 500px;

}

@media screen and (max-width: 576px) {
    .hero-section {
        align-items: center;
        justify-items: center;
        text-align: center;
        height: 800px;
        display: flex;
        flex-direction: column-reverse;
    }

    .title-text {
        font-size: 10px;
    }
}

.hero-text {
    width: 50%;
    padding: 50px 10px;
}

.hero-img img {
    width: 100%;
    max-width: 90%;
    height: auto;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.roundbutton {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.buttoncolour {
    background-color: #E0246D;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
}

/* hero section finished */

/* company logos Start */
.company-logos {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 20px;
    margin: 100px;

}

@media screen and (max-width: 576px) {
    .company-logos {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 0;
        border: none;

    }
}

/* company logos Finished */

/* popular collection start */
.popular-collection {
    text-align: center;
}

.title-text {
    font-size: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    margin: 100px;
    justify-items: center;
}

.card-1 {
    text-align: left;
    box-shadow: 10px 10px 30px 10px lightgray;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-img {
    width: 100%;
}

.cart-text {}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-title {
    font-size: 35px;
}

.dollar-size {
    font-size: 30px;
}

i {
    color: orange;
}

.rating-number {
    font-weight: bold;
}

.cart-under-text {
    font-size: 20px;
    color: gray;
}

.see-more {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: #E0246D;
    float: right;
    margin: 0px 200px;
}

@media screen and (max-width: 576px) {
    .popular-collection {
        text-align: center;
    }

    .title-text {
        font-size: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
        margin: 0px;
        justify-items: center;
    }

    .card-1 {
        text-align: left;
        box-shadow: 10px 10px 30px 10px lightgray;
        padding: 5px;
        width: 350px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .see-more {
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        color: #E0246D;
        float: right;
        margin: 20px 10px;
    }

}

/* popular collection Finished */


/* ad section start */
.ad-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 200px;
    align-items: center;
    gap: 50px;
}

.ad-img img {
    width: 100%;
    height: auto;
}

.ad-button {
    border: none;
    background-color: #E0246D;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .ad-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 100px 0px;
        align-items: center;
        padding: 50px;
        text-align: center;
    }
}



/* ad section Finished */

/* footer start */
footer {
    text-align: center;
    background-color: #131324;
    color: white;
    padding: 50px 0px;
}

/* footer finished */